<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "https://riglen.com/#org",
  "name": "Riglen Group",
  "url": "https://riglen.com",
  "logo": "https://riglen.com/assets/brand/logos/2025/logo.500x500.png",
  "sameAs": [
    "https://www.linkedin.com/company/RiglenGroup", 
    "https://github.com/RiglenGroup",
    "https://instagram.com/RiglenGroup"
  ],
  "contactPoint": [{
    "@type": "ContactPoint",
    "contactType": "sales",
    "email": "sales@riglen.com",
    "areaServed": "CH, EU",
    "availableLanguage": ["en", "es"]
  }]
}
</script>