---
layout: page
title: Partners Ecosystem
permalink: /about/partners
published: true
subtitle: "Riglen Group partners with leading technology and service providers to deliver comprehensive solutions."
description: |
  Riglen Group partners with a broad and dynamic ecosystem of industry leaders,
  technology innovators, and specialized services providers to amplify our capabilities
  and deliver exceptional value to our clients. Through these strategic collaborations, we
  accelerate innovation, expand our global reach, and bring cutting-edge solutions to diverse
  markets.
---

<div id="main-content" class="partners-ecosystem alternate-colors"
  data-bs-spy="scroll"
  data-bs-target="#navbar-main"
  data-bs-offset="0"
  tabindex="0">

  <section class="intro">
    <div class="container m-auto">
      <div class="content row align-items-center justify-content-start">

        <div class="content row col-8 col-md-8 hero-text">
          <h1 class="lato-black">{{ page.title }}</h1>
        </div>
        <div class="content row align-items-center justify-content-start">
          <div class="col-12 col-md-12 pe-5 hero-text my-4">
            <h2 class="lato-regular">{{ page.subtitle }}</h2>
          </div>
        </div>
        <div class="content row align-items-center justify-content-start mt-4">
          <div class="col-12 col-md-12 pe-5 hero-text">
            <p class="lato-regular fs-2 mt-5">{{ page.description }}</p>
          <div>
        </div>
       
      </div>
    </div>
  </section>

  <section id="partner-growth" class="about d-flex align-items-center" style="min-height:450px;max-height:auto;">
    <div class="container m-auto">
      <div class="row row-cols-2">
        <div class="col-6 ps-4 position-relative">
  	      <h2 class="section-heading">
            Growthing Together
          </h2>
  	      <div class="section-description text-muted mt-5">
            <p class="fs-4">
              Our partner network enables us to unlock new revenue streams, strengthen our competitive edge, and create meaningful business opportunities across industries and geographies.
            </p>
            <p class="fs-4">
              By collaborating with best-in-class partners, we co-create innovative solutions that address complex challenges, drive digital transformation, and deliver exceptional value to our clients.
            </p>
  	      </div>
  	    </div>
        <div class="col-6">
          <figure class="figure px-5 w-100 h-100">
            <img src="/assets/img/9a326766-4d19-4b60-8849-a61566567d16.jpg"
                 class="figure-img img-fluid rounded-4 shadow-lg m-auto object-fit-cover h-100 w-100"
                 loading="lazy"/>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section id="partner-types" class="py-5">
    <div class="container m-auto pt-5">
      <div class="row">
	      <div class="col-lg-12 text-center">
          <h2 class="text-left section-heading">Partners Programs</h2>
          <h3 class="text-left section-subheading text-muted"></h3>
	      </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 gx-5 gy-2 justify-content-center card-group">

	      <div class="col mb-5">
          <div class="card border h-100 border-0">
            <div class="bg-image hover-overlay ripple rounded-2" data-mdb-ripple-color="light">
              <img alt="Solutions Providers" class="img-fluid lazy" height="435" loading="lazy"
                src="/assets/img/5aa9dff5-b272-4706-9ec8-0e50092982fc.jpg"
                style="object-fit:cover;height:300px;width:100%" width="975"/>
            </div>        
            <div class="card-body">
              <h2 class="card-title crop-text-lines-2 font-weight-bold" style="line-height: 1.2;font-size: 18px;font-weight: 500;color: #BF3100;">
                Solutions Providers
              </h2>
              <p class="card-text text-muted">
                Design, build, and implement complete solutions using our technologies.
                Taking a hands-on delivery role in architecting environments, integrating platforms, customizing deployments, and ensuring successful technical outcomes.
                These partners combine deep technical expertise with industry knowledge to deliver end‑to‑end solutions tailored to each client’s needs.
              </p>
            </div>
	        </div>
	      </div>

        <div class="col mb-5">
          <div class="card h-100 border-0">
            <div class="bg-image hover-overlay ripple rounded-2" data-mdb-ripple-color="light">
              <img alt="Independent Software Vendors" class="img-fluid lazy" height="435" loading="lazy"
                src="/assets/img/aef6d8ab-42c3-4149-91ab-cd8cf2c6d39b.jpg"
                style="object-fit:cover;height:300px;width:100%" width="975"/>
            </div>        
            <div class="card-body">
              <h2 class="card-title crop-text-lines-2 font-weight-bold" style="line-height: 1.2;font-size: 18px;font-weight: 500;color: #BF3100;">
                Independent Software Vendors (ISVs)
              </h2>
              <p class="card-text text-muted">
                Build, integrate, or extend software products that enhance our core capabilities.
                Their solutions plug into our ecosystem to deliver added functionality, automation, analytics, or industry-specific value.
                By aligning with Riglen Group's architecture and standards, they help create differentiated and scalable offerings that solve complex challenges and accelerate innovation.
              </p>
            </div>
	        </div>
	      </div>

        <div class="col mb-5">
          <div class="card border h-100 border-0">
            <div class="bg-image hover-overlay ripple rounded-2" data-mdb-ripple-color="light">
              <img alt="Resellers and Consultants" class="img-fluid lazy" height="435" loading="lazy"
                src="/assets/img/5c9593ec-4840-4fb4-9dfa-3bfbfe6cf830.jpg"
                style="object-fit:cover;height:300px;width:100%" width="975"/>
            </div>        
            <div class="card-body">
              <h2 class="card-title crop-text-lines-2 font-weight-bold" style="line-height: 1.2;font-size: 18px;font-weight: 500;color: #BF3100;">
                Resellers and Consultants
              </h2>
              <p class="card-text text-muted">
                Advise, recommend, and distribute our offerings without necessarily delivering or implementing the full solution.
                They focus on guiding clients through strategic decisions, aligning business goals with the right technologies, and facilitating procurement.
                Their strength lies in advisory services, market reach, and helping customers adopt the right Riglen Group capabilities.
              </p>
            </div>
	        </div>
	      </div>

        <div class="col mb-5">
          <div class="card border h-100 border-0">
            <div class="bg-image hover-overlay ripple rounded-2" data-mdb-ripple-color="light">
              <img alt="Resellers and Consultants" class="img-fluid lazy" height="435" loading="lazy"
                src="/assets/img/d7638f04-8a00-451e-8f5e-97bc831ac718.avif"
                style="object-fit:cover;height:300px;width:100%" width="975"/>
            </div>        
            <div class="card-body">
              <h2 class="card-title crop-text-lines-2 font-weight-bold" style="line-height: 1.2;font-size: 18px;font-weight: 500;color: #BF3100;">
                Managed Services Providers (MSPs)
              </h2>
              <p class="card-text text-muted">
                Operate, manage, and optimize our solutions on behalf of clients.
                They take responsibility for day-to-day operations, monitoring, security, and continuous improvement - ensuring environments remain reliable, compliant, and high-performing over time.
                Through fully managed or co-managed service models, they deliver long-term value and operational excellence across diverse industries and geographies.
              </p>
            </div>
	        </div>
	      </div>

      </div>
    </div>
  </section>

  {% capture quote_content %}
  <div class="content">
    <p class="text-muted" style="font-size:16px;">Join our partner ecosystem bringing business values and innovation to our customers</p>
  </div>
  <div class="toolbox pt-4">
    <button class="btn btn-primary"
	    type="button"
	    data-bs-toggle="modal"
	    data-bs-target="#ContactModal"
	    title="Contact us">
      Contact us
    </button>
  </div>
  {% endcapture %}
  {% include quote.html title="Partner with Us" subtitle="Extend your market and solutions partering with Riglen Group" class="py-5" content=quote_content %}
  {% include modal_inquiry.html %}

  {%- if site.partners.size > 0 -%}
  <section id="partners" class="partners">
    <div class="container m-auto">
      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-around">
        {%- assign partners = site.partners | sort: "level" | sort: "category" -%}
        {%- for partner in partners -%}
        <div class="col">
          <div class="card h-100 text-center border-0">
            <img src="{{ partner.img }}"
                 class="card-img-top object-fit-contain m-auto p-2"
                 alt="{{ partner.title }}"
                 style="max-height:200px;">
            <div class="card-body">
              <h5 class="card-title">{{ partner.title }}</h5>
              <p class="card-text">{{ partner.description }}</p>
            </div>
            <div class="card-footer border-0 bg-transparent mt-5">
              <a href="{{ partner.url }}"
                 class="btn btn-primary">
                 Learn more
              </a>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
  {%- endif -%}

  {% if site.press.size > 0 %}
  <section id="partners-press" class="service-card-wrapper newsroom-highlights-wrapper">
    <h2>News &amp; Press Releases</h2>
    <div class="grid-wrapper hero-news-wrapper">
      {% assign press = site.press | sort: 'date' %}
      {% for item in press %}
      <div class="card service-card service-card-{{ forloop.index }}" id="{{ item.slug }}">
        <div class="c-element_wrap">
          <div class="c-element_image">
            <img fetchpriority="high" decoding="async" width="576" height="562" src="{{ item.image }}" class="img-fluid" alt="{{ item.title }}" title="{{ item.title }}" />
          </div>
          <div class="c-element__content">
            <h3 class="c-element__title">{{ item.title }}</h3>
            <div class="cta-wrapper">
              <a href="{{ item.url }}" class="btn btn-learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="cta-wrapper grid-cta-wrapper">
      <a href="/insights/press/" class="btn btn-learn-more">Go to Insights Press</a>
    </div>
  </section>
  {% endif %}

</div>
